body {
	font-family: "Georgia", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 90%;
	width: 500px;
}

#container {
	max-height: 300px;
	word-wrap: break-word;
	background-color: #f3f3f3;
}

#dropdown-menu {
	max-height: 300px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#dropdown-menu li {
	list-style: none;
	display: list-item;
	margin: 0px;
	padding: 0px;
}

#dropdown-menu li:hover {
	background-color: #fff;
}

#dropdown-menu li a{
	padding: 3px 16px 4px;
	max-width: 470px;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	max-height: 30px;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.closeTab {
	float: right;
	cursor: pointer !important;
}

.tabsLink {
	cursor: pointer !important;
}